<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
<body>
    {{>header}}
    <img src="/images/sign.jpg">
    <form id="weatherForm">
        <input type="text" id="search_input">
        <button>submit</button>
    </form>
    <p id="error_msg"></p>
    <p id="success_msg"></p>
</body>
<script src="/js/front.js"></script>
</html>